In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.model_selection import train_test_split

testData = pd.read_csv("test.csv")
testY = pd.read_csv("output.csv")
trainData = pd.read_csv("train.csv")

In [2]:
#Filling Missing BMI Data

temp = trainData['bmi'].mean() + trainData['bmi'].median()
temp /= 2
temp
trainData['bmi'] = trainData['bmi'].fillna(temp)

In [3]:
len( list( filter( lambda x: x == True , pd.isna(trainData['smoking_status']) ) ) )

13292

In [9]:
# trainData['smoking_status'] = trainData['bmi'].fillna("unknown")

trainDataNS = trainData[ trainData['smoking_status'].isna() ]
trainDataNS = trainDataNS.drop( columns=['smoking_status'] )
trainDataS = trainData[ trainData['smoking_status'].notna() ]

testDataNS = testData[ testData['smoking_status'].isna() ]
testDataNS = testDataNS.drop( columns=['smoking_status'] )
testDataS = testData[ testData['smoking_status'].notna() ]

print( testDataS.shape )
print( testDataNS.shape )
print( trainDataS.shape )
print( trainDataNS.shape )

(12850, 11)
(5751, 10)
(30108, 12)
(13292, 11)

In [16]:
trainDataS['stroke'].value_counts()

0    29470
1      638
Name: stroke, dtype: int64

In [40]:
yTrainDataNS = trainDataNS['stroke']
xTrainDataNS = trainDataNS.drop( columns=['stroke'] )
#xTrainDataNS.head()

yTrainDataS = trainDataS['stroke']
xTrainDataS = trainDataS.drop( columns=['stroke'] )
#xTrainDataS.head()

In [18]:
from sklearn.linear_model import LogisticRegression as LR
lr = LR()

In [41]:
xTrainDataS = pd.get_dummies( xTrainDataS, columns=['gender', 'ever_married', 'work_type' , 'Residence_type', 'smoking_status']
                            , prefix=['sex', 'married', 'work_type' , 'res_type', 'smoke'] )

In [38]:
xTrainDataS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30108 entries, 1 to 43399
Data columns (total 19 columns):
id                         30108 non-null int64
age                        30108 non-null float64
hypertension               30108 non-null int64
heart_disease              30108 non-null int64
avg_glucose_level          30108 non-null float64
bmi                        30108 non-null float64
smoking_status             30108 non-null object
sex_Female                 30108 non-null uint8
sex_Male                   30108 non-null uint8
sex_Other                  30108 non-null uint8
married_No                 30108 non-null uint8
married_Yes                30108 non-null uint8
work_type_Govt_job         30108 non-null uint8
work_type_Never_worked     30108 non-null uint8
work_type_Private          30108 non-null uint8
work_type_Self-employed    30108 non-null uint8
work_type_children         30108 non-null uint8
res_type_Rural             30108 non-null uint8
res_type_Urban             30108 non-null uint8
dtypes: float64(3), int64(3), object(1), uint8(12)
memory usage: 2.2+ MB

In [42]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(xTrainDataS, yTrainDataS, test_size=0.40, random_state=0)

In [43]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()

NameError: name 'x_train' is not defined

In [44]:
clf = clf.fit(x_train, y_train)

In [45]:
predictions = clf.predict(x_test)
clf.score(x_test, y_test)

0.9539189637994022

In [20]:
lr.fit(x_train, y_train)

predictions = lr.predict(x_test)

lr.score(x_test, y_test)

0.9891664158892567

In [46]:
from sklearn import metrics

metrics.confusion_matrix(y_test, predictions)

array([[11475,   278],
       [  277,    14]])

/home/ncheck/anaconda3/envs/deepenv/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [56]:
testDataS.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,36306,Male,80.0,0,0,Yes,Private,Urban,83.84,21.1,formerly smoked
1,61829,Female,74.0,0,1,Yes,Self-employed,Rural,179.50,26.0,formerly smoked
4,40801,Female,63.0,0,0,Yes,Govt_job,Rural,83.57,27.6,never smoked
5,9348,Female,66.0,1,0,Yes,Private,Urban,219.98,32.2,never smoked
7,60512,Male,46.0,0,0,Yes,Govt_job,Urban,120.80,32.5,never smoked

In [57]:
trainDataS.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
6,52800,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
7,41413,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
8,15266,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0